body {
  background-color: rgba(177, 175, 175, 0.5);
}

/* Navbar */

.navbar {
  padding: 10px auto;
  height: 4rem;
}

.nav-contact {
  padding: 2rem;
}

.navbar-nav {
  text-align: center;
}

.nav-contact-img {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

.nav-contact-img:hover {
  color: rgba(36, 196, 196, 1);
}


.bi-house {
  font-size: 2rem;
  color: rgba(36, 196, 196, 1);
}

.bi-house:hover {
  color: rgba(0, 0, 0, 0.5);
}

.bi-house:visited {
  color: rgba(36, 196, 196, 1);
}







/* Footer */

#footer {
  text-align: center;
  margin: 5rem auto;
}

.footer-img {
  text-align: center;
  padding: 20px;
}
