
.webpage-body {
  margin: auto 10%;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  display: block;
}


body {
    color: #444444;
}

hr {
display: block;
    width: 5rem;
    height: 3px;
    background: rgba(12, 235, 235, 1);
    border-top: 0;
}


#footer {
  background-color: rgb(248, 249, 250);
  text-align: center;
  margin-top: 3rem;
    padding: 1.2rem 0 0.2rem 0;
}


.footer-text {
  font-size: 1.3rem;
}


.footer-img, span {
  font-size: 1.2rem;
  padding: 20px;
  color: rgba(12, 235, 235, 1);
}

.footer-img:hover, span:hover {
  color: rgba(36, 196, 196, 1);
}




/* Navbar */


.bi-house, .bi-globe2, .navbar-brand {
  font-size: 2.5rem;
  color: rgba(12, 235, 235, 1);
  transition: all 0.5s;
}

.bi-house:hover, .bi-globe2:hover, .nav-link:hover {
  color: rgba(36, 196, 196, 1);
  transform: scale(1.1);
}


.bi-globe2 {
  font-size: 2rem;
  margin-right: 2rem;
}


.dropdown-item {
  color: rgba(12, 235, 235, 1);
}


.dropdown-chk {
  min-width: 0;
  font-size: 1.5rem;
}

.dropdown-item:hover {
background-color: rgba(36, 196, 196, 1);
color: white;
}

/* Footer */



/* ABOUT */

.about .skills, .testimonials {
  margin-top: 10rem;

}

.about-text, .progress-bar, .progress-bars {
  text-align: left;
}


.progress-bar {
  background-color: rgba(36, 196, 196, 1);
}


.d-block {
  width: 12rem;
  border-radius: 50%;
  padding-bottom: 8rem;
}


/* CONTACT */

.contact-text {
  text-align: center;
  color: rgb(68, 68, 68);
  margin: 2rem auto;
}

.Details {
  margin-left: 10px;
  margin-right: 7px;
}


.ctt-info-icon {
  font-size: 1.5rem;
    background-color: #EFFBF9;
  color: rgba(36, 196, 196, 1);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
    text-align: center;
    padding: .8rem;
  }

  .ctt-info-icon:hover {
    color: #fff;
    background-color: rgba(36, 196, 196, 1);
    transition: all 0.5s;
  }

.ctt-info-h4 {
  font-size: 1.4rem;
}

.ctt-info-p {
  font-size: .9rem;
}

.personal-details {
  padding-bottom: 1rem;
}

.form {
    margin-left: 1rem;
}


.form-group {
  padding-bottom: 1.5rem;
}


.form-group-name0mail {
  width: 50%;
  padding-bottom: 1.5rem;
}

.contact-btn {
  color: #fff;
  border-radius: 2rem;
  background-color: rgba(36, 196, 196, 1);
  margin: auto 13vw;
  font-size: 1rem;
  width: 10rem;
  height: 2.5rem;
}

.contact-btn:hover {
  color: rgba(36, 196, 196, 1);
  background-color: white;
}



/* PORTFOLIO */

.port-img {
  transition: all 0.5s;
}

.port-img:hover {
  transform: scale(1.1);
}


/* RESUME */

.vl {
  display: block;
  width: 2px;
  white-space: nowrap;
  background: rgba(12, 235, 235, 1);
}
